html,
body {
  height: 100%;

}

#cover {
  background: url('../img/seomarketing.jpg') no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
}

#cover-caption {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  width: 100%;
  color: white;
}
